<aside class="left-panel nicescroll-box">
	<nav class="navigation">
		<ul class="list-unstyled main-menu">
			<li class="has-submenu active"><a
				th:href="@{/anime-shop/admin/home-index}"> <i
					class="fas fa-th-large"></i> <span class="nav-label">Trang
						chủ</span>
			</a></li>
			<li class="has-submenu"><a class="has-arrow mm-collapsed"
				style="cursor: pointer;"> <i class="fas fa-sitemap"></i> <span
					class="nav-label">Danh mục cha</span>
			</a>
				<ul class="list-unstyled mm-collapse">
					<li><a th:href="@{/anime-shop/admin/category-parent}"><i
							class="fas fa-list"></i>Danh sách</a></li>
				</ul></li>
			<li class="has-submenu"><a class="has-arrow mm-collapsed"
				style="cursor: pointer;"> <i class="fas fa-voicemail"></i> <span
					class="nav-label">Danh mục con</span>
			</a>
				<ul class="list-unstyled mm-collapse">
					<li><a th:href="@{/anime-shop/admin/category}"><i
							class="fas fa-list"></i>Danh sách</a></li>
				</ul></li>
			<li class="has-submenu"><a class="has-arrow mm-collapsed"
				style="cursor: pointer;"> <i class="fab fa-product-hunt"></i> <span
					class="nav-label">Sản phẩm</span>
			</a>
				<ul class="list-unstyled mm-collapse">
					<li><a th:href="@{/anime-shop/admin/product}"><i
							class="fas fa-list"></i>Danh sách</a></li>
				</ul></li>
			<li class="has-submenu"><a class="has-arrow mm-collapsed"
				style="cursor: pointer;"> <i class="bi bi-unity"></i> <span
					class="nav-label">Đơn vị sản phẩm</span>
			</a>
				<ul class="list-unstyled mm-collapse">
					<li><a th:href="@{/anime-shop/admin/unit-type}"><i
							class="fas fa-list"></i>Danh sách</a></li>
				</ul></li>
			<li class="has-submenu"><a class="has-arrow mm-collapsed"
				style="cursor: pointer;"> <i class="bi bi-truck"></i> <span
					class="nav-label">Shipper</span>
			</a>
				<ul class="list-unstyled mm-collapse">
					<li><a th:href="@{/anime-shop/admin/shipper}"><i
							class="fas fa-list"></i>Danh sách</a></li>
				</ul></li>
			<li class="has-submenu"><a class="has-arrow mm-collapsed"
				style="cursor: pointer;"> <i class="bi bi-stickies"></i> <span
					class="nav-label">Bài viết</span>
			</a>
				<ul class="list-unstyled mm-collapse">
					<li><a th:href="@{/anime-shop/admin/post}"><i
							class="fas fa-list"></i>Danh sách</a></li>
				</ul></li>
				
			<li class="has-submenu"><a class="has-arrow mm-collapsed"
				style="cursor: pointer;"> <i class="bi bi-person-circle"></i> <span
					class="nav-label">Người dùng</span>
			</a>
				<ul class="list-unstyled mm-collapse">
					<li><a th:href="@{/anime-shop/admin/user}"><i
							class="fas fa-list"></i>Customer</a></li>
				</ul></li>
				
			<li class="has-submenu"><a class="has-arrow mm-collapsed"
				style="cursor: pointer;"> <i class="bi bi-clipboard-data"></i> <span
					class="nav-label">Thống kê</span>
			</a>
				<ul class="list-unstyled mm-collapse">
					<li><a th:href="@{/anime-shop/admin/report/today}"><i
							class="fas fa-list"></i>Doanh thu hằng ngày</a></li>
							<li><a th:href="@{/anime-shop/admin/report/month}"><i
							class="fas fa-list"></i>Doanh thu hằng tháng</a></li>
								<li><a th:href="@{/anime-shop/admin/report/year}"><i
							class="fas fa-list"></i>Doanh thu hằng năm</a></li>
							<li><a th:href="@{/anime-shop/admin/report/user}"><i
							class="fas fa-list"></i>Người dùng</a></li>
				</ul></li>
				
		</ul>
	</nav>
</aside>
