<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/user/layout/layoutUser.html :: dynamic(~{::body})}">
<body>
	<!-- Begin Kenne's Breadcrumb Area -->
	<div class="breadcrumb-area">
		<div class="container">
			<div class="breadcrumb-content">
				<h2 style="color: white">ANIME STORE</h2>
				<ul>
					<li style="color: white"><a style="color: white"
						th:href="@{/anime-shop/index}">Trang chủ</a></li>
					<li style="color: white" class="active">Quên mật khẩu</li>
				</ul>
			</div>
		</div>
	</div>
	<!-- Kenne's Breadcrumb Area End Here -->
	<!-- Begin Kenne's Login Register Area -->
	<div class="kenne-login-register_area">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-md-12 col-xs-12 col-lg-6 mx-auto">
					<!-- Login Form s-->
					<form th:action="@{/anime-shop/forgotpassword}" method="POST">
						<div class="login-form">
							<h4 class="login-title text-center" style="color: #a8741a;">QUÊN MẬT KHẨU</h4>
							<div class="row">
								<div class="col-md-12 col-12" th:if="${message}">
									<div class="alert alert-success" th:text="${message}"></div>
								</div>
								<div class="col-md-12 col-12" th:if="${error}">
									<div class="alert alert-danger" th:text="${error}"></div>
								</div>
								<div class="col-md-12 col-12">
									<label>Địa chỉ email*</label> <input type="text"
										placeholder="Địa chỉ email" name="email"/>
								</div>
								<div class="col-md-12">
									<button style="width: 100%; border-radius: 20px 20px 20px 20px;" class="kenne-login_btn" type="submit">Lấy lại
									</button>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- Kenne's Login Register Area  End Here -->
</body>
</html>
